.contenedor{
    display: flex;
    justify-content: center;
}

.navContainer{
    @extend .contenedor;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contenedorCentrado{
    @extend .contenedor;
    flex-direction: row;
    align-items: center;
}

.containerVertical {
    @extend .contenedor;
    flex-flow: column;
    align-items: center;
}

.flexItem {
    margin: 15px 20px;
}

.cursoCard {
    width: 300px;
    overflow-wrap: break-word;
}

.carritoCont{
    @extend .navContainer;
    padding: 10px 0;
    & p{
        font-size: 0.8rem;
        margin: auto;
        text-align: left;
        padding: 5px 0;
    }

    & h3{
        text-align: left;
        padding: 5px 0;
        margin-bottom: 0;
    }

    &Inc{
        @extend .navContainer;
        justify-content: left;
        & p{
            width: 30px;
            margin:0;
            font-size: 1.2rem; 
            text-align: center;
        }
        & i{
            padding: 5px;
        }
    }
}

.userContainer{
    @extend .navContainer;
    justify-content: space-around;
    height: 350px;
    margin: 50px 0;

    &Panel{
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 400px;
        justify-content: space-between;
        align-items: left;

        & button {
            width: 100%;
            height: 30px;
            background-color: $webColor;
            border: none;
        }

        & form{
            display: flex;
            flex-direction: column;
            height: 42%;
            justify-content: space-around;


        }

        & div{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-content: center;

            & label{
                display: flex;
                align-items: center;
                padding: 0 10px;
            }
        };
        
    }

    & h2{
        text-align: left;
    }

    & h3{
        padding: 2%;
        font-size: 1rem;
        margin: 0;
    }
}



