.header {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 1rem;
    padding: 0 0 8vh 0;

    nav {
       
        ul {
            li{
                list-style-type: none;
                margin: 0 1%;
                align-items: center;
                display: inline-block;
            
            }
        }
    }

    button {
        border: none;
        background-color: transparent;
    }

    i {
        font-size: 1.6rem;
        padding: 0 10px;
    }
    
}


.offcanvas-backdrop{
    background-color: white;
    &.show{
        opacity: 0.6;
    }
    
}

.headBanner{
    width: 100%;
    position: fixed;
    top: 0;
    background-image: url("../../images/Banners/BannerLogo-06.png");
    background-repeat: no-repeat;
    background-position: center;
}

.banner {
    width: 100%;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 10vh;

}

.navModificado {
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $webColor;
}

.togglerMod {
    width: 1rem;
    height: 1rem;
}

.navUlMod{
    width: 80%;
    justify-content: center;
}

.navbar-toggler{

        &:focus{
            text-decoration: none;
            outline: 0;
            box-shadow: 0 0 0 0;
        }
}

a{
    &:link, 
    &:visited, 
    &:hover, 
    &:active{
        color: black;
        text-decoration: none;
    }
    
}

.nombreUsuario{
    display: flex;
    align-items: flex-end;
    
    & h4{
        font-size: 0.8rem;
        margin: 0;
    }
}