@charset "UTF-8";
/*Configuracion General*/
* {
  margin: 0;
  top: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px; }

.header {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 1rem;
  padding: 0 0 8vh 0; }
  .header nav ul li {
    list-style-type: none;
    margin: 0 1%;
    align-items: center;
    display: inline-block; }
  .header button {
    border: none;
    background-color: transparent; }
  .header i {
    font-size: 1.6rem;
    padding: 0 10px; }

.offcanvas-backdrop {
  background-color: white; }
  .offcanvas-backdrop.show {
    opacity: 0.6; }

.headBanner {
  width: 100%;
  position: fixed;
  top: 0;
  background-image: url("../../images/Banners/BannerLogo-06.png");
  background-repeat: no-repeat;
  background-position: center; }

.banner {
  width: 100%; }

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 10vh; }

.navModificado {
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #e5c5b9; }

.togglerMod {
  width: 1rem;
  height: 1rem; }

.navUlMod {
  width: 80%;
  justify-content: center; }

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0; }

a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none; }

.nombreUsuario {
  display: flex;
  align-items: flex-end; }
  .nombreUsuario h4 {
    font-size: 0.8rem;
    margin: 0; }

h1 {
  margin-top: 3%;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-align: center; }

h2 {
  font-size: 1.25 rem;
  margin: 1%;
  text-align: center; }

.noTitle, .cursosTexto {
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0.5px;
  font-style: italic;
  max-width: 60%; }

.cursosTexto {
  font-size: 1rem; }

.resaltar:hover {
  text-decoration: underline; }

.contenedor, .navContainer, .carritoCont, .carritoContInc, .userContainer, .contenedorCentrado, .containerVertical {
  display: flex;
  justify-content: center; }

.navContainer, .carritoCont, .carritoContInc, .userContainer {
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.contenedorCentrado {
  flex-direction: row;
  align-items: center; }

.containerVertical {
  flex-flow: column;
  align-items: center; }

.flexItem {
  margin: 15px 20px; }

.cursoCard {
  width: 300px;
  overflow-wrap: break-word; }

.carritoCont {
  padding: 10px 0; }
  .carritoCont p {
    font-size: 0.8rem;
    margin: auto;
    text-align: left;
    padding: 5px 0; }
  .carritoCont h3 {
    text-align: left;
    padding: 5px 0;
    margin-bottom: 0; }
  .carritoContInc {
    justify-content: left; }
    .carritoContInc p {
      width: 30px;
      margin: 0;
      font-size: 1.2rem;
      text-align: center; }
    .carritoContInc i {
      padding: 5px; }

.userContainer {
  justify-content: space-around;
  height: 350px;
  margin: 50px 0; }
  .userContainerPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-between;
    align-items: left; }
    .userContainerPanel button {
      width: 100%;
      height: 30px;
      background-color: #e5c5b9;
      border: none; }
    .userContainerPanel form {
      display: flex;
      flex-direction: column;
      height: 42%;
      justify-content: space-around; }
    .userContainerPanel div {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-content: center; }
      .userContainerPanel div label {
        display: flex;
        align-items: center;
        padding: 0 10px; }
  .userContainer h2 {
    text-align: left; }
  .userContainer h3 {
    padding: 2%;
    font-size: 1rem;
    margin: 0; }

.offcanvas {
  background-color: #e5c5b9; }

.offcanvas-end {
  left: 0;
  width: 300px;
  transform: translateX(-100%); }

.miCarrito, .miCarritoAbierto {
  position: fixed;
  right: 0px;
  width: 350px;
  height: 100vh;
  padding: 0 10px;
  background-color: #e5c5b9;
  z-index: 2;
  overflow-y: scroll;
  visibility: visible;
  transform: translate(100%);
  transition: transform 0.3s, visibility 0.3s; }
  .miCarritoAbierto {
    transform: translate(0%);
    visibility: visible; }
  .miCarrito h2, .miCarritoAbierto h2 {
    letter-spacing: 0.5rem;
    font-size: 1.5rem; }

.fueraCarrito, .fueraCarritoActivo {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s; }
  .fueraCarritoBtn {
    height: 100%;
    width: 100%; }
    .fueraCarritoBtn:hover {
      cursor: default; }
  .fueraCarritoActivo {
    opacity: 0.6;
    visibility: visible; }

.divisor {
  border-top: solid #6f6f6f 0.1rem;
  margin-top: 10px;
  padding-bottom: 10px; }

.usarioCont {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  visibility: hidden;
  transition: visibility 0.3s; }
  .usarioContActivo {
    visibility: visible; }

.formUsuario {
  background-color: #e5c5b9;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  position: fixed;
  z-index: 2;
  left: 25%;
  width: 50%;
  top: 10%;
  height: 80%; }
  .formUsuarioInt {
    padding-top: 5%;
    padding-left: 5%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left; }
  .formUsuario form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; }
    .formUsuario form input {
      margin: 2% 2%;
      width: 70%;
      padding-left: 5px; }
  .formUsuario .submit {
    border: none;
    background-color: transparent;
    align-self: center;
    width: 100%; }

.usuarioBack {
  background-color: white;
  opacity: 0.6;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%; }

.swal-button {
  background-color: #e5c5b9; }
  .swal-button--confirm {
    background-color: #e5c5b9; }

.miImg, .productImg {
  max-width: 250px; }

.cursoImg {
  max-width: 300px; }

.imgFloat {
  float: left;
  margin-left: 5%;
  margin-right: 2%; }

iframe {
  width: 560px;
  height: 315px; }

.bigImage {
  max-height: 400px; }

.slideImage {
  max-height: 600px; }

.changeImage {
  transition: transform 1s; }
  .changeImage:hover {
    transform: scale(1.1); }

.carouselSmall {
  display: none; }

.shopImg {
  overflow: hidden;
  position: relative; }
  .shopImg:hover .productImg {
    opacity: 0.5; }
  .shopImg:hover .shopBtn {
    transform: translateX(0%);
    visibility: visible; }

.productImg {
  transition: opacity 0.5s; }

.carritoImg {
  max-width: 120px;
  padding: 0 10px 0 0; }

.tabla {
  width: 60%;
  margin: 50px auto 50px auto;
  background-color: #e5c5b9;
  padding: 3vh 0; }
  .tabla table {
    height: 60%;
    width: 80%;
    margin: 0 auto 0 auto;
    text-align: center; }

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 1px; }

.center {
  text-align: center; }

.left {
  text-align: left;
  margin-left: 10%; }

.shopBand {
  margin: auto;
  width: 70vw;
  background-color: #e5c5b9;
  background: linear-gradient(to bottom, white 0%, white 50%, #e5c5b9 50%, #e5c5b9 100%); }

.insumosGrid {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-areas: "verano invierno primavera otono" "tijera tela bambu flexi";
  column-gap: 25px;
  row-gap: 25px;
  align-content: center; }

.ver {
  grid-area: verano; }

.inv {
  grid-area: invierno; }

.prim {
  grid-area: primavera; }

.oto {
  grid-area: otono; }

.tijera {
  grid-area: tijera; }

.tela {
  grid-area: tela; }

.bambu {
  grid-area: bambu; }

.flexi {
  grid-area: flexi; }

.bordadosGrid {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-areas: "letras sweaters flores cactus";
  column-gap: 25px;
  row-gap: 25px;
  align-items: flex-start; }

.letras {
  grid-area: letras; }

.sweaters {
  grid-area: sweaters; }

.flores {
  grid-area: flores; }

.cactus {
  grid-area: cactus; }

.shopBtn {
  position: absolute;
  padding: 5px;
  height: 10%;
  width: 70%;
  top: 70%;
  border-radius: 5px;
  border-width: 0;
  right: 0;
  color: #3f3f3f;
  font-size: 0.8rem;
  background-color: #e5c5b9;
  transform: translateX(101%);
  visibility: hidden;
  transition: transform 0.5s, visibility 0.5s; }
  .shopBtn:hover {
    color: white; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }

fieldset {
  width: 70vw;
  margin: auto;
  background-color: #e5c5b9;
  border: none;
  margin: 3% 0;
  padding: 0 0 2% 0;
  position: relative; }

.contactoGrid {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-areas: "nombre apellido" "telefono direccion" "email email" "retiro envio";
  column-gap: 20px;
  row-gap: 25px;
  align-content: center; }

.nombre {
  grid-area: nombre; }

.apellido {
  grid-area: apellido; }

.tel {
  grid-area: telefono; }

.dir {
  grid-area: direccion; }

.email {
  grid-area: email; }

.retiro {
  grid-area: retiro; }

.envio {
  grid-area: envio; }

.pedidoGrid {
  width: 40%;
  display: grid;
  margin: 15px;
  grid-template-areas: "bastidor tamano" "tela colores" "pedir limpiar";
  column-gap: 20px;
  row-gap: 25px;
  align-content: center; }

.bastidor {
  grid-area: bastidor; }

.tamano {
  grid-area: tamano; }

.tela {
  grid-area: tela; }

.colores {
  grid-area: colores; }

.imagen {
  grid-area: imagen; }

.pedir {
  grid-area: pedir; }

.limpiar {
  grid-area: limpiar; }

.seleccionar {
  grid-area: seleccionar; }

input {
  height: 36px; }

select {
  height: 36px; }

/*Selector de Imagen Formulario*/
.file {
  display: none; }
  .fileLabel {
    display: flex;
    height: 32px;
    background-color: #e9e5e5;
    border-radius: 4px;
    border: gray solid 2px;
    width: 200px;
    justify-content: center;
    align-items: center; }
    .fileLabel:hover {
      background-color: #d1d1d1;
      border: #595959 solid 2px; }

.imgFile {
  width: 250px;
  height: 250px;
  border: gray solid 1px; }

/*Auxiliar para creación de linea divisoria*/
.line {
  margin: 40px 0 40px 0;
  width: 50vw;
  height: 2px;
  position: relative;
  left: 25vw;
  background-color: gray; }

.verticalLine {
  margin: 10px;
  width: 2px;
  height: 90%;
  position: relative;
  top: 2.5%;
  background-color: gray; }

/*configuracion del footer*/
.footer {
  text-align: center;
  background-color: #e5c5b9;
  background-clip: content-box;
  padding: 0 20vw 0vh 20vw;
  font-size: 1.2rem; }
  .footer p {
    font-size: 1.25rem;
    padding-top: 5vh; }
  .footer div {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 5% 10%;
    position: relative;
    text-align: left; }
    .footer div ul li {
      list-style-type: none;
      margin: 15% 0;
      text-align: left; }

ol, ul {
  padding-left: 0; }

@media (max-width: 1200px) {
  .header {
    font-size: 0.8rem; }
  .miImg, .productImg {
    max-height: 350px; }
  .cursoImg {
    max-width: 200px; }
  .imgFloat {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 250px; }
  .contenedorCentrado {
    flex-direction: column;
    align-content: center;
    justify-content: center; }
  /*Cursos y tabla*/
  .cursoCard {
    width: 225px; }
  .tabla {
    width: 80%; }
    .tabla table {
      height: 60%;
      width: 80%;
      margin: 0 auto 0 auto;
      text-align: center;
      font-size: 0.8rem; }
  /*Seccion Shop*/
  .bordadosGrid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: "letras sweaters"  "flores cactus";
    column-gap: 25px;
    row-gap: 25px;
    align-items: flex-start; }
  .insumosGrid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: "verano invierno" "primavera otono" "tijera tela"  "bambu flexi";
    column-gap: 25px;
    row-gap: 25px;
    align-content: center; }
  /*Seccion arma tu pedido*/
  .contactoGrid {
    margin: 4% auto;
    grid-template-areas: "nombre nombre" "apellido apellido" "telefono telefono" "direccion direccion" "email email" "retiro envio";
    column-gap: 10px;
    row-gap: 15px; }
  .pedidoGrid {
    width: 60%;
    margin: 4% auto;
    grid-template-areas: "bastidor " "tamano" "tela " "colores" "pedir " "limpiar";
    column-gap: 10px;
    row-gap: 15px;
    order: 2; }
  /*footer*/
  .footer {
    padding: 0 5%; } }

@media (max-width: 860px) {
  .navUlMod {
    width: auto;
    justify-content: center; }
  h1 {
    font-size: 1.25rem;
    margin: 2% 5%; }
  h2 {
    font-size: 1rem;
    margin: 2% 5%; }
  .bigImage {
    max-height: 400px;
    max-width: 320px; }
  .miImg, .productImg {
    max-height: 300px;
    width: auto; }
  iframe {
    width: 320px;
    height: 180px; }
  .imgFile {
    width: 200px;
    height: 200px; }
  .contenedor, .navContainer, .carritoCont, .carritoContInc, .userContainer, .contenedorCentrado, .containerVertical {
    flex-direction: column;
    align-content: center; }
  /*Seccion Shop*/
  .shopBand {
    background: linear-gradient(to bottom, #e5c5b9 0%, #e5c5b9 100%); }
  .bordadosGrid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: "letras"  "sweaters"  "flores"  "cactus";
    column-gap: 25px;
    row-gap: 25px;
    align-items: flex-start; }
  .insumosGrid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: "verano"  "invierno" "primavera"  "otono" "tijera"  "tela"  "bambu" "flexi";
    column-gap: 25px;
    row-gap: 25px;
    align-content: center; }
  .footer p {
    font-size: 0.8rem;
    padding-top: 5vh; }
  .footer div {
    width: 130px;
    height: 160px;
    margin: 5% 3%;
    text-align: center; }
    .footer div ul li {
      text-align: center;
      font-size: 0.6rem; }
  .footer h3 {
    font-size: 1rem; } }

@media (max-width: 550px) {
  .carouselSmall {
    display: block; }
  .carouselLarge {
    display: none; } }
